<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js' integrity='sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==' crossorigin='anonymous'></script>
  <title>Document</title>
  <style lang='scss'>
    *{
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: bold;
    }
    html,body{
      width: 100%;
    }
    #app{
      background: linear-gradient(10deg, #70e1f5, #ffd194);
    }
    #app button{
      margin: 0 10px;
      border-radius: 10px;
      padding: 5px;
    }
    .bgRed,
    .bgGreen,
    .bgYellow{
      border-radius: 30px;
      box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.5);
    }
    .bgRed{
      background-color: red;
    }
    .bgGreen{
      background-color: green;
    }
    .bgYellow{
      background-color: yellow;
    }
    #app{
      padding-top: 20px;
    }
    #app ul{
      display: flex;
      flex-direction: row;
      padding: 20px;
      text-align: center;
    }

    #app ul li{
      margin-right: 100px;
      width: 100px;
      height: 30px;
      line-height: 30px;
    }

    #app ul:first-child li{
      display: flex;
      justify-content: space-evenly;
    }

  </style>
</head>
<body>
  <div id="app">
    <select name="" id="" v-model="selected">
      <option value="">請選擇工作重要程度</option>
      <option value="高">高</option>
      <option value="中">中</option>
      <option value="低">低</option>
    </select>
    <input type="text" placeholder="請輸入工作事項" v-model="input">
    <button @click="add" :disabled="disabledFull">送出</button>
    <button @click="clear" :disabled="disabledHalf">清除</button>
    <br>
    <br>
    <hr>
    <hr>
    <br>
    <br>
    <select name="" id="filterImportance" v-model="filtered">
      <option value="" disabled>請篩選工作重要程度</option>
      <option value="all">全部</option>
      <option value="高">高</option>
      <option value="中">中</option>
      <option value="低">低</option>
    </select>
    <ul>
      <li>
        <label for="">
          <input type="checkbox" @click="changeAll" v-model="checkedAll" :disabled="deleteAllCheck">
          全選
        </label>
      </li>
      <li>重要程度</li>
      <li>工作內容</li>
      <button @click="deleteAll" :disabled="deleteAllCheck">全部刪除</button>
      <button @click="deleteChecked" :disabled="deleteAllCheck">刪除勾選項目</button>
    </ul>
    <br>
      <ul v-for="(item,index) in filteredImports" :key="item.todo">
        <li>
          <label>
            <input type="checkbox" :value="item.todo" v-model="checkedArr" @click="checkedSingle">
          </label>
        </li>
        <li 
          :class="[item.importance === '高' ? 'bgRed' : item.importance === '中' ? 'bgGreen' : 'bgYellow']"
        >
        {{item.importance}}</li>
        <li>{{item.todo}}</li>
        <button @click="editStart(index)" v-show="!item.isEditing">修改工作內容</button>
        <input type="text" :placeholder="item.todo" v-show="item.isEditing" v-model="editContent">
        <button @click="editDone(index)" v-show="item.isEditing">修改完成</button>
        <button @click="deleteWork(index)">刪除</button>
        <br>
        <br>
      </ul>
  </div>


  <script>
    new Vue({
      el: '#app',
      data:{
        selected: '',
        filtered: 'all',
        input: '',
        checkedAll: false,
        deleteAllCheck: false,
        editContent: '',
        checkedArr: [],
        works:[
          {
            importance: '高',
            todo: '網站測試',
            isEditing: false
          },
          {
            importance: '中',
            todo: '除錯',
            isEditing: false
          },
          {
            importance: '低',
            todo: '吃飯',
            isEditing: false
          }
        ]
      },
      methods: {
        add(){
          let newWork = {};
          newWork.importance = this.selected;
          newWork.todo = this.input.trim();
          newWork.isEditing = false;
          this.works.push(newWork);
          this.selected = '';
          this.input = '';
        },
        clear(){
          this.selected = '';
          this.input = '';
        },
        checkedSingle(e){
          // console.log(e.currentTarget.checked);
        },
        changeAll(){
          if (this.checkedAll) {
            this.checkedArr = [];
          } else {
            this.checkedArr = [];
            this.works.map((item) => {
              this.checkedArr.push(item.todo);
            });
          }
        },
        deleteWork(index){
          this.works.splice(index,1)
        },
        deleteChecked(){
          for(let i=0;i<this.works.length;i++){
            if(this.checkedArr.indexOf(this.works[i].todo) > -1 ){
              this.works.splice(i,this.checkedArr.length)
            }
            this.checkedArr = []
          }
        },
        deleteAll(){
          this.works.splice(0,this.works.length)
        },
        editStart(index){
          this.works[index].isEditing = true;
        },
        editDone(index){
          this.works[index].isEditing = false;
          if (this.editContent) {
            this.works[index].todo = this.editContent;
          }else{
            this.works[index].todo = this.works[index].todo
          }
          this.editContent = '';
        },
      },
      computed:{
        disabledFull(){
          if(this.input !== '' && this.selected !== ''){ 
            return false;
          }else{
            return true;
          }
        },
        disabledHalf(){
          if(this.selected !== '' || this.input !== ''){
            return false;
          }else{
            return true;
          }
        },
        filteredImports() {
          let filterOption = this.filtered;

          if (filterOption === "all") {
            return this.works;
          } else {
            return this.works.filter(function (item) {
              return item.importance === filterOption;
            });
          }
        }
      },
      watch:{
          'checkedArr': function(){
            if(this.works.length === this.checkedArr.length){
              this.checkedAll =  true
            }else{
              this.checkedAll = false
            }
          },
          'works': function(){
            if(this.works.length === 0){
              this.deleteAllCheck = true
            }else{
              this.deleteAllCheck = false
            }
          }
      }
    })
  </script>
</body>
</html>